[paths]
http_conf_folder = '/etc/apache2/conf-available/'  # ex. /etc/apache2/conf-available/, web server config directory
http_conf_tpl = '/etc/apache2/conf-available/vhost.tpl'  # ex. /etc/apache2/conf-available/vhost.tpl, config template file
http_www_path = '/var/www/'  # ex. /var/www/

# ex. public_html/ or public_html/public,
# the final path would be /var/www/{vhost_name}/public_html
# or /var/www/{vhost_name}/public_html/public
http_public_path = ''

git_repo_base_path = '/var/repos/'  # ex. /var/repos/
git_repo_conf_tpl = '/var/repos/post-receive.tpl'  # ex. /var/repos/post-receive.tpl
git_checkout_path = 'public_html/'  # ex. public_html/, set this to your vhost root folder
git_executable = 'git '

[tools]
enable_vhost_creation = True
enable_git_creation = True
enable_chown = False